<header class="header">
    <div class="header-inner">
        <div class="container">
            <div class="inner">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-3 col-md-3 col-12">
                        <div class="logo">
                            <a routerLink="/home"><img src="assets/img/logo.png" alt="Логотип"></a>
                        </div>
                        <div class="mobile-nav"></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="main-menu">
                            <nav class="navigation">
                                <ul class="nav menu">
                                    <li [class.active]="isHomeActive()">
                                        <a routerLink="/home">Главная страница</a>
                                    </li>
                                    <li><a href="#">Обслуживание</a></li>
                                    <li [class.active]="isBlogActive()">
                                        <a routerLink="/home/blogs-grid">Блог</a>
                                    </li>
                                    <li [class.active]="isContactActive()">
                                        <a routerLink="/home/contact_us">Связаться с нами</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    
                    <!-- Кнопки авторизации -->
                    <div class="col-lg-auto">
                        <div class="get-quote text button d-flex align-items-center">
                            <!-- Кнопка "Войти" для неавторизованных пользователей -->
                            <button *ngIf="!isAuthenticated" 
                                    (click)="navigateToLogin()"
                                    class="btn">
                                Войти
                            </button>
                            
                            <!-- Кнопки для авторизованных пользователей -->
                            <ng-container *ngIf="isAuthenticated">
                                <!-- Кнопка "Профиль" -->
                                <button (click)="navigateToProfile()"
                                        class="btn"
                                        style="margin-right: 20px;">
                                    Профиль
                                </button>
                                
                                <!-- Кнопка "Выход" -->
                                <button (click)="logout()"
                                        class="btn btn-sm btn-outline-light">
                                    Выход
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>