<section class="blog grid section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12" *ngFor="let post of blogPosts">
                        <!-- Single Blog -->
                        <div class="single-news">
                            <div class="news-head">
                                <img [src]="post.image" [alt]="post.title">
                            </div>
                            <div class="news-body">
                                <div class="news-content">
                                    <div class="date">{{ post.date }}</div>
                                    <h2>
                                        <a [routerLink]="['/home/blog-single', post.id]" (click)="onBlogClick(post.id)">{{ post.title }}</a>
                                    </h2>
                                    <p class="text">
                                        {{ post.excerpt }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Blog -->
                    </div>
                    <div class="col-12">
                        <!-- Pagination -->
                        <div class="pagination">
                            <ul class="pagination-list">
                                <li>
                                    <a href="#"><i class="icofont-rounded-left"></i></a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li>
                                    <a href="#"><i class="icofont-rounded-right"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!--/ End Pagination -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="main-sidebar">
                    <!-- Single Widget -->
                    <div class="single-widget search">
                        <div class="form">
                            <input type="text" placeholder="Search Here..." (input)="onSearch($event)">
                            <a class="button" href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <!--/ End Single Widget -->
                    <!-- Single Widget -->
                    <div class="single-widget category">
                        <h3 class="title">Blog Categories</h3>
                        <ul class="categor-list">
                            <li *ngFor="let category of categories"><a href="#">{{ category }}</a></li>
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
                    <!-- Single Widget -->
                    <div class="single-widget recent-post">
                        <h3 class="title">Recent post</h3>
                        <!-- Single Post -->
                        <div class="single-post" *ngFor="let post of recentPosts">
                            <div class="image">
                                <img [src]="post.image" [alt]="post.title">
                            </div>
                            <div class="content">
                                <h5><a [routerLink]="['/home/blog-single', post.id]">{{ post.title }}</a></h5>
                                <ul class="comment">
                                    <li>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>{{ post.date }}
                                    </li>
                                    <li>
                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>35
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Post -->
                    </div>
                    <!--/ End Single Widget -->
                    <!-- Single Widget -->
                    <div class="single-widget side-tags">
                        <h3 class="title">Tags</h3>
                        <ul class="tag">
                            <li *ngFor="let tag of tags"><a href="#">{{ tag }}</a></li>
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
                </div>
            </div>
        </div>
    </div>
</section>