<br> <br>
<br> <br>
<section class="our-vision-area ptb-100 pt-0">
    <div class="container">
        <div class="row">
            <!-- Врачи -->
            <div class="col-lg-6 col-md-6 col-12">
                <a routerLink="/patient/restrict-doctor-list" class="d-block text-decoration-none text-dark">
                    <div class="single-vision-box p-4 mb-4 border rounded shadow-sm">
                        <div class="icon mb-3">
                            <i class="icofont-doctor"></i>
                        </div>
                        <h3 class="fw-bold">Врачи</h3>
                        <p>Управляйте доступом врачей к вашим медицинским данным и настройте уровни доступа к различным разделам системы мониторинга.</p>
                    </div>
                </a>
            </div>

            <!-- Доверенные лица -->
            <div class="col-lg-6 col-md-6 col-12">
                <a routerLink="/patient/restrict-trusted-list" class="d-block text-decoration-none text-dark">
                    <div class="single-vision-box p-4 mb-4 border rounded shadow-sm">
                        <div class="icon mb-3">
                            <i class="icofont-users-alt-2"></i>
                        </div>
                        <h3 class="fw-bold">Доверенные лица</h3>
                        <p>Настройте доступ для доверенных лиц - близких людей, которые могут получать информацию о вашем состоянии и мониторинге здоровья.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<br> <br>