<br> <br>
<br> <br>
<section class="our-vision-area ptb-100 pt-0">
    <div class="container">
        <div class="row">
            <!-- Настройки профиля -->
            <div class="col-lg-6 col-md-6 col-12">
                <a routerLink="/patient/profile-settings" class="d-block text-decoration-none text-dark">
                <div class="single-vision-box p-4 mb-4 border rounded shadow-sm">
                        <div class="icon mb-3">
                            <i class="icofont-user-alt-7"></i>
                        </div>
                        <h3 class="fw-bold">Настройки профиля</h3>
                        <p>Отредактируйте личные данные, контактную информацию и персональные настройки вашего аккаунта.</p>
                    </div>
                </a>
            </div>

            <!-- Настройки доступа -->
            <div class="col-lg-6 col-md-6 col-12">
                <a href="#" class="d-block text-decoration-none text-dark">
                    <div class="single-vision-box p-4 mb-4 border rounded shadow-sm">
                        <div class="icon mb-3">
                            <i class="icofont-key"></i>
                        </div>
                        <h3 class="fw-bold">Настройки доступа</h3>
                        <p>Настройте уровни доступа и безопасность, чтобы контролировать, кто и как может видеть ваши данные.</p>
                    </div>
                </a>
            </div>

            <!-- Настройки интерфейса -->
            <div class="col-lg-6 col-md-6 col-12">
                <a href="#" class="d-block text-decoration-none text-dark">
                    <div class="single-vision-box p-4 mb-4 border rounded shadow-sm">
                        <div class="icon mb-3">
                            <i class="icofont-dashboard-web"></i>
                        </div>
                        <h3 class="fw-bold">Настройки интерфейса</h3>
                        <p>Выберите оформление, темы и прочие визуальные параметры для комфортной работы с системой.</p>
                    </div>
                </a>
            </div>

            <!-- Настройки датчика -->
            <div class="col-lg-6 col-md-6 col-12">
                <a href="#" class="d-block text-decoration-none text-dark">
                    <div class="single-vision-box p-4 mb-4 border rounded shadow-sm">
                        <div class="icon mb-3">
                            <i class="icofont-ui-settings"></i>
                        </div>
                        <h3 class="fw-bold">Настройки датчика</h3>
                        <p>Управляйте параметрами вашего датчика и настройками мониторинга для оптимальной работы системы.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<br> <br>
