<br>

<div class="doctor-details-area section">
    <div class="container">
        <div class="row">
            <div *ngIf="isLoading" class="col-12 text-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Загрузка...</span>
                </div>
            </div>

            <ng-container *ngIf="!isLoading && doctors.length > 0">
                <div class="col-md-4 col-lg-4 col-12 mb-4" *ngFor="let doctor of doctors">
                    <div style="padding: 0px" class="doctor-details-item doctor-details-left">
                        <div *ngIf="doctor.avatar_url; else defaultAvatar" class="doctor-avatar">
                            <img [src]="getAvatarUrl(doctor)" [alt]="doctor.first_name + ' ' + doctor.last_name"/>
                        </div>
                        <ng-template #defaultAvatar>
                            <div class="mb-4 text-center" style="padding-top: 20px;">
                                <i class="fas fa-user-md" style="font-size: 19.1rem; color: #007bff;"></i>
                            </div>
                        </ng-template>

                        <div class="doctor-details-contact">
                            <ul class="basic-info">
                                <li>
                                    <i class="icofont-user-alt-1"></i>
                                    {{ doctor.last_name || 'Нет данных' }}
                                </li>
                                <li>
                                    <i class="icofont-user-alt-2"></i>
                                    {{ doctor.first_name || 'Нет данных' }}
                                </li>
                                <li>
                                    <i class="icofont-user-alt-3"></i>
                                    {{ doctor.patronymic || 'Нет данных' }}
                                </li>
                                <li>
                                    <i class="icofont-ui-call"></i>
                                    {{ doctor.phone_number || 'Нет данных' }}
                                </li>
                                <li>
                                    <i class="icofont-ui-message"></i>
                                    {{ doctor.email || 'Нет данных' }}
                                </li>
                                <li>
                                    <button
                                            (click)="navigateToMessage(doctor.id)"
                                            class="btn"
                                            style="color: #fff;">
                                        Написать письмо
                                    </button>
                                </li>
                                <li>
                                    <button
                                            (click)="navigateToRestrictAccess(doctor.id)"
                                            class="btn"
                                            style="color: #fff;"
                                            type="button">
                                        Ограничить доступ
                                    </button>
                                </li>
                                <li>
                                    <button
                                            type="button"
                                            class="btn btn-danger btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#confirmRemoveModal"
                                            (click)="openRemoveModal(doctor)"
                                            style="color: #fff;">
                                        Удалить доступ
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ng-container>

            <div *ngIf="!isLoading && doctors.length === 0" class="col-12 text-center mt-5">
                <p class="text-center mt-5">У вас пока нет закреплённых врачей.</p>
                <button (click)="navigateToInviteDoctor()" class="btn btn-primary">
                    Пригласить врача
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmRemoveModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
            <div class="modal-header border-0">
                <h5 class="modal-title">Удалить доступ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body text-center">
                Вы уверены, что хотите удалить доступ врачу<br>
                <strong *ngIf="selectedDoctor">
                    {{ selectedDoctor.first_name }} {{ selectedDoctor.last_name }}
                </strong>?
            </div>

            <div class="modal-footer border-0">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                <button
                        class="btn btn-danger"
                        data-bs-dismiss="modal"
                        (click)="confirmRemoveAccess()">
                    Да, удалить
                </button>
            </div>
        </div>
    </div>
</div>